blinker
certifi
click
flask
importlib-metadata
itsdangerous
jinja2
ld_impl_linux-64
libffi
libgcc-ng
libgomp
libstdcxx-ng
markupsafe
ncurses
openssl
pip
python
readline
setuptools
sqlite
tk
tzdata
werkzeug
wheel
xz
zipp
zlib
gunicorn