
.nav-div{
    display:flex;
    justify-content: space-between;
    
    width:100%;
    height: 220px;
    background-color: aqua;
    

}
.nav-div .acmlogo-div{
    width: 250px;

}
.nav-div .mid-div{
    flex : 1;
    height: inherit;
    width: auto;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
}

.navvi a {

    height: 100px;

}
.nav-div .rset-div{
    width: 382px;

}

