*{
    font-family: "Fira Sans", sans-serif;
}
    


.nav-div{
    display:flex;
    justify-content: space-between;
    
    width:100%;
    height: 220px;
    background-color: #F1F1F1;

    border-radius: 0 0 30px 30px;

    top:0;
    
    
  

}
.nav-div .acmlogo-div{
    width: 220px;
    padding-left: 55px;
}

.acmlogo-div img {
    width: 90%;
    height: auto;
}


.nav-div .mid-div{
    flex : 1;
    height: inherit;
    width: auto;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
}
ul {
    list-style: none;

}
.navvi-link-holder a {
    float: left;
    display: block;
    text-decoration: none;
    color: inherit;
    padding: 20px 20px;
    font-size: 24px

}
.navvi-link-holder a:hover {
    color: blue;

}

.nav-div .rset-div{
    width: 382px;

}


.nav-div .rset-div img {
    padding-top: 24px;
    padding-right: 5px;
    width: 382px;
    height: auto;
}