
.student-section{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.student-grid{
    display: grid;
    grid-template-columns: 1fr 1fr;
}


.student-container{

    width: 550px;
    height: 350px;
    background-color: rgb(205, 224, 218);
    display: flex;
    flex-direction: row;
    border-radius: 15px;
    
    margin-top: 50px;
    margin-bottom: 50px;

    margin-left: 50px;
    margin-right: 50px;
}

h1{
    text-align: center;
    font-size: 4rem;
}

.text-div{
    flex-grow: 1;
    height: 100%;
    display: flex;
    flex-direction: column;
    margin-left: 30px;
}
.student-name{
    font-size: 2.5rem;
    font-weight: 500;
    padding: 10px;
}
.student-position{
    font-size: 1.2rem;
    padding: 10px;
    padding-top: 10px;
}



.img-container{

    width: 220px;
    height: 333px;
}
.img-container img{
    width: 110%;
    height: 105%;
    border-radius: 15px
}


@media screen and (max-width: 1000px) {
    
.student-grid{
    display: grid;
    grid-template-columns: 1fr;
}
  }