
.student-section{
    display: flex;
    flex-direction: column;
    align-items: center;
}



.student-container{

    width: 550px;
    height: 333px;
    background-color: rgb(139, 169, 159);
    display: flex;
    flex-direction: row;
    border-radius: 15px;
    
    margin-top: 50px;
    margin-bottom: 50px;
}

h1{
    text-align: center;
    font-size: 2rem;
}

.text-div{
    flex-grow: 1;
    height: 100%;
    display: flex;
    flex-direction: column;
}
.student-name{
    font-size: 2rem;
    padding: 10px;
}
.student-position{
    font-size: 1rem;
    padding: 10px;
    padding-top: 10px;
}



.img-container{

    width: 213px;
    height: 333px;
}
.img-container img{
    width: 110%;
    height: 105%;
    border-radius: 15px
}