<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">


    <link rel="stylesheet" href="/static/styles.css">
    
</head>
<body>
    <div id="navbar" class="nav-div">

        <div class="acmlogo-div">
            <img id ="acm-img" class ="acm-img-class" src="static/assets/acmlogo.png" alt="An image">
        </div>
        <div class="mid-div">
            <div class="heading-div">
                <p>Rajagiri ACM</p>   
                <p>Student Chapter</p>   
            </div>
            <nav class="navvi-link-holder">
                <!-- had to give this here  -->

                {% set navname= ["Home","Events","Team","Contact"] %}
                {% set navref = ["home","events","team","contact"] %}

                <ul>
                {% for i in navname %}
                    
                    <a class=nav-anchor href="/{{ navref[loop.index0] }}">{{i}}</a>

                {% endfor %}
                
                    
                </ul>
            </nav>

        </div>
        <div class="rset-div">
            <img class = "" src="static/assets/rset.png" alt="An image">
        </div>

    </div>


    {% block content %}



    {% endblock %}

    <script src="/static/script.js"></script>
</body>
</html>