{% extends "base.html" %}


{% block content %}
    
    <link rel="stylesheet" href="\static\home-styles.css">
    
    <h2>ACM Student Chapter RSET</h2>
    
    <div class="textstyle">
        ACM, the Association for Computing Machinery is the world's largest educational and scientific society, uniting computing educators,
        researchers and professionals to inspire dialogue, share resources and address the field's challenges. ACM strengthens the profession's 
        collective voice through strong leadership, promotion of the highest standards, and recognition of technical excellence. ACM supports 
        the professional growth of its members by providing opportunities for life-long learning, career development, and professional networking.
    </div>

{% endblock %}