{% extends "base.html" %}



{% block content %}
    <link rel="stylesheet" href="/static/team-styles.css">
    <!-- student member structure -->



    <div class="student-container">
        <div class="text-div">
            <span class="student-name">Name Middle Last</span>
            <span class="student-position">Position</span>
        </div>
        <div class="img-container">
            <img src="static/assets/placeholder.jpg" alt="">
        </div>
    </div>

    
    

{% endblock %}