{% extends "base.html" %}



{% block content %}
    <link rel="stylesheet" href="/static/team-styles.css">
    <!-- student member structure -->
    
    <section class="student-section">

    <h1>EXECom</h1>

    <div class="student-grid">
    {% for i in image_list %}

    <div class="student-container">
        <div class="img-container">
            <img src="{{i['path']}}" alt="">
        </div>
        <div class="text-div">
            <span class="student-name">{{i['name']}}</span>
            <span class="student-position">{{i['position']}}</span>
            <span class="student-branch">{{i['branch']}}</span>
        </div>
        
    </div>

    {% endfor %}
    </div>
    </section>
    

{% endblock %}